/* cargando */
.msg {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--fiery-terracotta);
}

.msg.error {
  color: var(--espresso);
}

.msg.loading::after {
  content: "";
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0%   { content: ""; }
  25%  { content: "."; }
  50%  { content: ".."; }
  75%  { content: "..."; }
}

/* App */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px 0;
}


.counter {
  margin: 10px 0 20px;
  color: var(--fiery-terracotta);
}

/* EventList */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filters input {
  flex: auto;
}
/* EventCard */
.card {
  background: var(--white);
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-left: 6px solid;
}

.card h3 {
  margin-bottom: 6px;
}

/* Categorías */
.card.charla {
  border-left-color: var(--muted-teal);
}

.card.taller {
  border-left-color: var(--ocean-mist);
}

.card.torneo {
  border-left-color: var(--dark-cyan);
}

.card.excursión {
  border-left-color: var(--stormy-teal);
}

/* EventDetail */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  margin-bottom: 2rem;
}

.detail {
  background: var(--white);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-left: 6px solid;
}

.detail__buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.detail.charla {
  border-left-color: var(--muted-teal);
}

.detail.taller {
  border-left-color: var(--ocean-mist);
}

.detail.torneo {
  border-left-color: var(--dark-cyan);
}

.detail.excursión {
  border-left-color: var(--stormy-teal);
}

/* Favorites */
.favorites {
  background: var(--white);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.favorites ul {
  padding: 0;
}

.favorites ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted var(--muted-teal);
  padding: 1rem 0;
}

.favorites button {
  margin-left: 8px;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Footer */
.footer {
  margin: auto -20px 0;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  color: var(--espresso);
}

.footer small {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: var(--fiery-terracotta);
}
