:root {
--white: #f8f7f4;
--dark-espresso: #332311;
--espresso: #5c3333;
--fiery-terracotta: #f2542d;
--tangerine-dream: #f49a74;
--wheat: #f3e9d8;
--muted-teal: #82baa8;
--ocean-mist: #48A89E;
--dark-cyan: #0e9594;
--stormy-teal: #127475;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--wheat);
  color: var(--dark-espresso);
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

input, select {
  border: none;
  border-radius: 4px;
  padding: .4rem .8rem;
  font-size: .9rem;
}

button {
  color: var(--white);
  background-color: var(--fiery-terracotta);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: .9rem;
  transition: background-color 0.2s;
  padding: .4rem .8rem;
}

button:hover {
  background-color: var(--espresso);
}

button:disabled {
  background-color: var(--tangerine-dream);
  cursor: not-allowed;
}

